$header-background: #f7bacf;
$header-box-shadow: #c48b9f;

$button-color: #fff;
$button-padding: 4px 6px;
$button-margin: $button-padding;
$button-border-radius: 4px;

$link: #560027;
$link-active: #ad1457;
$link-hover: #bc477b;
$link-padding: $button-padding;

$button-background: $link;
$button-active: $link-active;
$button-hover: $link-hover;

$card-background: #c48b9f;
$card-padding: 20px;

$input-background: #f7bacf;


